* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;
}

/* Header */

.header-blur {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  padding: 10px;
}

.header-blur h1 {
  font-size: 3rem;
  margin-bottom: 22px;
  letter-spacing: 1.6px;
}

.header-blur h3 {
  font-size: 1.6em;
  letter-spacing: 1.1px;
  text-align: center;
}

/* Slider */

.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.slide.active {
  display: flex;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tooltips */

.slide .tooltip {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.9em;
  opacity: 1;
}

/* Navigation */

.navigation {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6em;
}

.navigation button {
  padding: 10px 20px;
  font-size: 2em;
  color: rgb(192, 250, 218);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navigation button:hover {
  background: rgba(0, 0, 0, 0.7);
  color: rgb(140, 249, 189);
  transform: scale(1.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navigation button:active {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(192, 250, 218);
  transform: scale(1.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* Info Box */

.info-box {
  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 480px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transform: translateX(0);
}

.info-box h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.info-box ul {
  list-style: none;
  padding: 0;
}

.info-box ul li {
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* Language Switch */

.language-switch {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

/* Language Button */

.language-switch button {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.8);
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s;
}

.language-switch button:hover {
  background: rgba(255, 255, 255, 0.6);
  color: rgb(53, 52, 52);
}

/* Media Queries */

@media (max-width: 600px) {
  .header-blur {
    height: 33vh;
    font-size: 0.9em;
    text-align: center;
    padding: 30px 30px;
  }

  .header-blur h1 {
    font-size: 1.8rem;
    margin-top: 60px;
  }

  .navigation button {
    font-size: 2em;
  }

  .slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    aspect-ratio: auto;
  }
}

/* Info Box Media Queries */

@media (min-width: 1024px) {
  .info-box {
    left: 50%;
    bottom: 160px;
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .info-box {
    width: 420px;
    left: 50%;
    bottom: 160px;
    transform: translateX(-50%);
    font-size: 1em;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .info-box {
    width: 420px;
    background: rgba(0, 0, 0, 0.3);
    left: 50%;
    bottom: 160px;
    transform: translateX(-50%);
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .info-box {
    width: 300px;
    background: rgba(0, 0, 0, 0.3);
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    font-size: 0.85em;
    margin-bottom: 2rem;
  }
}
